@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwindcss';

body {
  font-family: 'JetBrains Mono', monospace;
  background-color: #0a0a0a;
  color: #ededed;
  -webkit-font-smoothing: antialiased;
}
